{% extends 'borders.html' %}
    {% block title %}Home{% endblock %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home">
                        <center>
                            <h1 style="font-weight: 900;">Welcome!</h1><br>
                            <a href="http://127.0.0.1:8080/home/user/" class="btn btn-outline-primary"><p>Click me!</p></a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}