{% extends 'borders.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="home-option">
                <div class="col-xs-6">
                    <div class="card card-outline-primary">
                        <center>
                            <p>Steps to follow:</p>
                        </center>
                            <ol type="1">
                                <li>Sample</li>
                                <li>Sample</li>
                                <li>Sample</li>
                            </ol>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="card card-outline-primary">
                        <center>
                            <p>Ongoing Scanning Procedures</p>
                        </center>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}