{% extends 'borders.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="home-option">
                <div class="col-xs-6">
                    <div class="card card-outline-primary">
                        <center>
                            <a href="http://127.0.0.1:8080/home/document_title/" type="submit" class="btn btn-outline-primary"><i class="fa fa-file" aria-hidden="true"></i></a>
                                <p>Scan a Document</p>
                            <!-- <form action="#">
                                <a href="http://127.0.0.1:8080/home/document_title/" type="submit" class="btn btn-outline-primary"><i class="fa fa-file" aria-hidden="true"></i></a>
                                <p>Scan a Document</p>
                                <div class="radio">
                                    <label><input type="radio" name="optradio">Handwritten Document</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="optradio">Computerized Document</label>
                                </div>
                            </form> -->
                        </center>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="card card-outline-primary">
                        <center>
                            <a href="http://127.0.0.1:8080/home/login/" class="btn btn-outline-primary" type="submit"><i class="fa fa-upload" aria-hidden="true"></i></i></a>
                            <p>Direct Upload (Softcopy)</p>
                        </center>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}